*.class

# Package Files #
*.jar
*.war
*.ear
target/*
/g-common/target/
*.out

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# java doc
/common/doc

# ignore pocs
pocs

#ignore IntelliJ IDEA files
.idea
*.iml
/g-common/target/


#lib
lib

# log files
*.log*

/simulator/target/
/serialization-util/target/
/netty-test/target/
/chunk-manager/target/
/util/target/
/Croupier/croupier-api/target/
/serialization-util/target/
/Croupier/croupier-core/target/
/Croupier/croupier-example/target/
Croupier/target/
videostream/target/


#gradient
/Gradient/gradient-api/target/
/Gradient/gradient-core/target/
/Gradient/gradient-example/target/

#aggregator
/aggregator/aggregator-api/target/
/aggregator/aggregator-core/target/
/aggregator/aggregator-example/target/

Gradient/target/
/video-stream/target/
/videostream/core/target/
/videostream/example/target/
/videostream/ws-example/target/
/util/basic/target/
/util/kompics-basic/target/
/util/vod-net-helper/target/
/simulator/simulator-core/target/
/simulator/simulator-dsl/target/
/simulator/simulator-example/target/