*.class

# Package Files #
*.jar
*.war
*.ear
*.out

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# java doc
/common/doc

# ignore pocs
pocs

#ignore IntelliJ IDEA files
.idea
*.iml

#lib
lib

# log files
*.log*

#Util
/util/target/
/util/basic/target/
/util/kompics-basic/target/
/util/util-serializer/target/

#Croupier
/croupier/target/
/croupier/croupier-api/target/
/croupier/croupier-core/target/
/croupier/croupier-example/target/
/croupier/croupier-network/target/

#gradient
/gradient/target/
/gradient/gradient-api/target/
/gradient/gradient-core/target/
/gradient/gradient-example/target/
/gradient/gradient-network/target/
/gradient/tree-gradient-core/target/
/gradient/tree-gradient-example/target/

#aggregator
/aggregator/target/
/aggregator/aggregator-api/target/
/aggregator/aggregator-core/target/
/aggregator/aggregator-example/target/
/aggregator/aggregator-network/target/


#leader-election
/leader-election/target/
/leader-election/election-api/target/
/leader-election/election-core/target/
/leader-election/election-example/target/
/leader-election/election-network/target/

#videostream
/videostream/target/
/videostream/core/target/
/videostream/example/target/
/videostream/ws-example/target/

#simulator
/simulator/target/
/simulator/simulator-core/target/
/simulator/simulator-dsl/target/
/simulator/simulator-example/target/
/simulator/simulator-basic/target/

#chunk-manager
/chunk-manager/cm-core/target
/chunk-manager/cm-network/target
/chunk-manager/cm-example/target

#ip-solver
/ip-solver/api/target/
/ip-solver/core/target/
/ip-solver/example/target/

#caracal-client
/caracal-client/cc-bootstrap/cc-bootstrap-api/target/
/caracal-client/cc-bootstrap/cc-bootstrap-core/target/
/caracal-client/cc-bootstrap/cc-bootstrap-network/target/
/caracal-client/cc-schemasetup/target/
/caracal-client/cc-heartbeat/cc-heartbeat-network/target/
/caracal-client/cc-heartbeat/cc-heartbeat-core/target/
/caracal-client/cc-heartbeat/cc-heartbeat-api/target/
/caracal-client/cc-heartbeat/cc-heartbeat-example/target/
/caracal-client/cc-common/target/
/caracal-client/sim/target/

#leftovers
g-common/target/
netty-test/target/
/caracal-client/bootstrap/cc-bootstrap-api/target/
/caracal-client/bootstrap/cc-bootstrap-core/target/
/caracal-client/common/target/
/caracal-client/heartbeat/cc-heartbeat-api/target/
/caracal-client/heartbeat/cc-heartbeat-core/target/
/caracal-client/heartbeat/cc-heartbeat-example/target/
/caracal-client/heartbeat/cc-heartbeat-network/target/
/caracal-client/scheamsetup/target/
/caracal-client/bootstrap/core/target/
/caracal-client/schemasetup/target/
/caracal-client/heartbeat/core/target/
/caracal-client/heartbeat/example/target/
/caracal-client/heartbeat/network/target/
/caracal-client/bootstrap/api/target/
/caracal-client/heartbeat/api/target/
/caracal-client/sim/target/

/nat-echo/target/


#local-aggregator
/local-aggregator/aggregator-api/target/
/local-aggregator/aggregator-core/target/
/local-aggregator/aggregator-example/target/
/local-aggregator/aggregator-network/target/

#global-aggregator
/global-aggregator/aggregator-api/target/
/global-aggregator/aggregator-core/target/
/global-aggregator/aggregator-example/target/
/global-aggregator/aggregator-network/target/



# Aggregator Module.
/aggregator/common/target/
/aggregator/network/target/
/aggregator/client/api/target/
/aggregator/client/core/target/
/aggregator/client/example/target/

/aggregator/server/api/target/
/aggregator/server/core/target/
/aggregator/server/example/target/

/aggregator/server/target/
/aggregator/client/target/




/aggregator/common-api/target/
/aggregator/common-core/target/
/network-mngr/api/target/
/network-mngr/core/target/
/network-mngr/example/target/
/overlay-mngr/api/target/
/overlay-mngr/network/target/
/overlay-mngr/core/target/
/overlay-mngr/example/target/
/fd/core/target/
/fd/api/target/
/fd/network/target/
/util/k-core/target/
/util/core/k-core/target/
/util/kcore/target/
/util/example/target/
/util/network/target/
/aggregator/example/client/target/
/aggregator/example/server/target/
/simulator/core/target/
/simulator/example/target/
/croupier/api/target/
/croupier/core/target/
/croupier/network/target/
/croupier/example/target/